//
    

header{
display: none;
}

.header{
        display: none;
    }

footer{
	display: none;
}

nav{
	display: none;
}

.logo{

display: none;
}

.container, .bildeContainer2, .bildeContainer, .container2{
	width: 100%;
	height: 250px;
	overflow: hidden;
	border-color: white;
}


