//
    

header{
	display: none;
}

.header{
    display: none;
    }

footer{
	display: none;
}

nav{
	display: none;
}

.logo{ 	

	display: none;
}

.container, .container2{
	width: 80%;
	height: 250px;
	border-color: white;
	margin: 20px 20px;
	overflow: inherit;


}



