/*
|-------------------------------------------------------
| HAMBURGER Meny
|-------------------------------------------------------
*/
@media only screen and (max-width: 700px){
    
    .hamburger{
        cursor: pointer;
        padding: 15px;
        display: block;
       
    }
    .logo{
        position: absolute;
        top: -10px;
        left: -80px;
    
        
    }
    .line{
        border-bottom: 4px solid #bbb;
        width: 35px;
        margin-bottom: 6px;
    }
    
    .line:last-child{margin-bottom: 0;}
    
    nav li {width: 100%;}
    
    
    .hovedmeny{
        
     
        
        
    }
    .closed{
        height: 350;
        display: none;  
    }
 
    
}

