
.main{
    margin: 0 auto;
    width: 80%;
    min-height: 500px;
    height: auto;

}

.container{
    border: black solid 1px;
    width: 45%;
	margin:5px;
    height: 165px;
	overflow:hidden;
	
	
}
	
.container2{
    border: black solid 1px;
    width: 92%;
	margin:5px;
    height: 200px;
	
	overflow:hidden;
	
}
.fillHeight{
	min-height:100%;
	width:55%;
	margin-top:;
}

.fillWidth{
	min-width:55%;
	height:auto;
}

.img{
	box-sizing:border-box;
}

@media screen and (max-width: 930px){
	
	
.container{
    border: black solid 1px;
    width: 70%;
	margin:5px;
    height: 200px;
	overflow:hidden;
	margin-left:15%;
	
}
	
.container2{
    border: black solid 1px;
    width: 70%;
	margin:5px;
    height: 200px;
	margin-left:15%;
	overflow:hidden;
	
}
.fillHeight{
	min-height:100%;
	width:55%;
	margin-top:;
}

.fillWidth{
	min-width:55%;
	height:auto;
}


.main{
    margin: 0 auto;
    width: 100%;
    min-height: 500px;
    height: auto;

}
	
footer{
	width:100%;	
	margin-left:0%;
	text-align:center;
}



	/*
|-------------------------------------------------------
| HAMBURGER Meny
|-------------------------------------------------------
*/
/*@media only screen and (max-width: 700px){
    
    .hamburger{
        cursor: pointer;
        padding: 15px;
        display: block;
       
    }
    .logo{
        position: absolute;
        top: -10px;
        left: -80px;
        
    }
    .line{
        border-bottom: 4px solid #bbb;
        width: 35px;
        margin-bottom: 6px;
    }
    
    .line:last-child{margin-bottom: 0;}
    
    nav li {width: 100%;}
    
    
    .hovedmeny{
        height: 0;
        overflow: hidden;
        
    }
    .open{
        height: 350;
    }
 
    
}*/
/*@media only screen and (width: 800px){
    
    .hovedmeny{
        display: block;
    }
}*/

/*
|-------------------------------------------------------
|  HAMBURGER Meny  SLUTT
|-------------------------------------------------------
*/
	
	
	
	
	
	
	
