/*
|-------------------------------------------------------
| HAMBURGER Meny
|-------------------------------------------------------
*/
@media screen and (max-width: 700px) and (orientation: portrait){
    
    .hamburger{
        cursor: pointer;
        padding: 15px;
        display: block;
       
    }
    .logo{
        position: absolute;
        top: 40px;
        left: -45px;
    
        
    }
    .line{
        border-bottom: 4px solid #bbb;
        width: 35px;
        margin-bottom: 6px;
    }
    
    .line:last-child{margin-bottom: 0;}
    
    nav li {width: 100%;}
    
    .closed{
        height: 350;
        display: none;  
    }
    .hovedmeny{
        width: 100%;
    }
    
    
}

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
          
    .hamburger{
        cursor: pointer;
        padding: 15px;
        display: block;
       
    }
    .logo{
        position: absolute;
        top: 40px;
        left: -45px;
    
        
    }
    .line{
        border-bottom: 4px solid #bbb;
        width: 35px;
        margin-bottom: 6px;
    }
    
    .line:last-child{margin-bottom: 0;}
    
    nav li {width: 100%;}
    
    .closed{
        height: 350;
        display: none;  
    }
    .hovedmeny{
        width: 100%;
    }
    

}