h1{
    color: rebecc;
    text-align: center;
    font-family: CodeBold;
}
#container{
	color:pink;
	
}
body{
	background-color:grey;
}

/* MEEEEENYYYYY*/
*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.hovedmeny {
  margin: auto;
  width: 960px;
  text-align: center;
  position: relative;
  list-style-type: none;
  margin-top: 2em;
}

.hovedmeny::after,
.meny-element.active::after {
  content: '';
  display: inline-block;
  position: absolute;
}

.hovedmeny::after {
  width: 70%;
  height: 2px;
  background: #9B1C27;
  animation: menuLine 1s ease forwards;
  transform: scaleX(0);
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
}

@keyframes menuLine{
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes menuItem {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.meny-element {
  a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: #555;
    opacity: 0;
    transform: translateY(40%);
    animation: menuItem .8s ease forwards;
    transition: all .2s ease;
  }
  
  &:nth-child(4) a {
  animation-delay: .4s;
  }

  &:nth-child(3) a,
  &:nth-child(5) a {
    animation-delay: .5s;
  }

  &:nth-child(2) a,
  &:nth-child(6) a {
    animation-delay: .6s;
  }

  &:nth-child(1) a,
  &:nth-child(7) a {
    animation-delay: .7s;
  }
}

.meny-element {
  display: inline-block;
  position: relative;
  &:hover a,
  &.active {
    color: #9B1C27;
    &::after {
      width: 0;
      height: 0;
      border-bottom: .5em solid #9B1C27;
      border-left: .5em solid transparent;
      border-right: .5em solid transparent;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      opacity: 0;
      transform: translateY(.05em);
      animation: menuItem .8s 1.2s ease forwards;
    }
  }
}


/* GAMMEL MENY
.meny{
    list-style: none;
    background-color: white;
    color: white;
    text-align: center;
    
}
nav a:hover{
    color:grey;
}
nav ul{
    
}

ul li{
    display: inline-block; /* for at tekst går inline :) */
    padding: 0 20px 0; /* Endrer mellomrom mellom meny knappene *//* 
}

li a{
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: CodeBold;
    line-height: 50px;
    
}*/
/* MEEEEENYYYYY SLUUUTT*/

header{
    color:white;
    padding:0;
    margin:0;
    line-height: 100px;
}