/*
|-------------------------------------------------------
| Structure Tags
|-------------------------------------------------------
*/
h1{
    color: black;
    text-align: center;
    font-family: CodeBold;
}
h2{
    margin: 10px;
    text-align: center;
    font-family: CodeBold;
}
#container{
	color:black;
	overflow: hidden;
	z-index: -1;

}
body{
	background-color:whitesmoke;
    text-align: left;
}

/*
|-------------------------------------------------------
| Footer
|-------------------------------------------------------
*/
.footwrapper{
    left:0;
    bottom:0; /* Gjordet at den er på bunnen på alle sidene */
    margin-top:3%;
    width: 100%;
    height: 20em;
	clear:both;
    box-shadow: 0px -3px 2px 0px rgba(50, 50, 50, 0.2);
} /* måtte ha - for at den skulle komme på toppen */
footer{
    background-color: white;
	width:auto;
	clear:both;
	text-align:center;
}
.holddegnede{
    position:absolute; /* For sider med liten content, ellers er den ikke på bunn */
}
.titelrader{
    width:200px;
    border-bottom: black solid 1px;
    margin-bottom: 3%;
}
.footerradEN{
    margin-left: 27%; /* Posisjon, flytter alle */
    width: 20%;
    margin-top:10px;
    height: 10em;
    padding: 20px;
    float:left;
    text-align:left;
}
.footerradTO{
    margin-left:-40px; /* x-Posisjon */
    margin-top:10px; /* y-Posisjon */
    width: 20%;
    height: 10em;
    padding: 20px;
    float:left;
    text-align:left;
}

.footerradTRE{
    margin-left: -40px; /* Posisjon */
    margin-top:10px;
    width: 20%;
    height: 10em;
    padding: 20px;
    float:left;
    text-align:left;
}
.iconfacebook{
    width:40px;
    height:40px;
    margin-top:20px;
    margin-right:10px;
}
.iconinstagram{
    margin-bottom:-2px; /* Måtte gjøre sånn siden top ikke funket :S */
    width:45px;
    height:45px;
    margin-top:10px;
    margin-right:10px;
}
.icontwitter{
    width:42px;
    height:42px;
    margin-top:10px;
    margin-right:10px;
}

.copyright{
    margin-top: 230px; /* y-posisjon */
    clear:both;
}

.footlinker{
    color:black;
    text-decoration: none;
}

.footlinker:hover{
    text-decoration: underline;
}
/*
|-------------------------------------------------------
| Footer Slutt
|-------------------------------------------------------
*/
.main{
    margin: 0 auto;
    width: 60%;
    min-height: 500px;
    height: auto;

}
.box{
    width: 40%;
    height: 200px;
    margin: 10px;
    padding: 0;
    border: black solid 1px;
    float: left;
    background-color: whitesmoke;
}
.prodpic{
    margin: 2px;
    padding: 0;
    border: red solid 1px;
    float: left;
    width: 60%;
    height: 98%;
    
}
.prodtxt{
    margin: 2px;
    padding: 0;
    border: red solid 1px;
    float: left;
    width: 36%;
    height: 98%;
}
.header{
    width:100%;
    background-color:white;
    border:none;
    padding-top: 2em; 
    top:0;
    left:0;
    height:50%; /* HØYDE PÅ HEADER */
    box-shadow: 0px 3px 2px 0px rgba(50, 50, 50, 0.2); /* Fin liten skygge */
    line-height: 4em;
}
/*
|-------------------------------------------------------
| Meny
|-------------------------------------------------------
*/
*, *:after, *:before {
  margin: 0;
  padding: 0;
}
nav{
    margin-bottom: 0; /* Lengde meny Y-posisjon*/
    text-align:center;
    text-transform: uppercase;
}

nav ul ul{ /*gjemme undermenyer */
    display:none;
}

    nav ul li:hover > ul{ /* Gjør at dem bare kommer ut når jeg hover dem */
        display:block;
    }

nav ul{
    background-color:white;
    padding-top:18px; /* avstand fra titel */
    list-style:none;
    position:relative;
    display:inline-table; /*gjorde at det er i midten */
}

    nav ul li{
        float:left;
    }
        nav > ul > li > a:hover{ /* For at vanlig knapper skal glow */
            color:#FF944D;
            transition: color 0.2s ease; /*tekst glow */
        }
            nav ul li a{
                display:block;
                padding: 1px 30px; /* avstand punkter */
                color:black;
                text-decoration:none;
                font-family: CodeBold;
}

nav ul ul{ /* DROP DOWN */
    padding:0;
    position:absolute;
    top:100%;
}

    nav ul ul li{
        float:none;
        position:relative;
    }
        nav ul ul li a{
            padding: 0px 40px;
            color:black;
        }
            nav ul ul li:hover > a{ /* Disse to med hover for at den fortsatt er hover */
                transition: background-color 0.3s ease;
                background:#FF944D;
                box-shadow: 0px 0px 2px 2px rgba(50, 50, 50, 0.2)
            }
                nav ul ul li a:hover{
                    transition: background-color 0.3s ease;
                    background:#FF944D;
                    box-shadow: 0px 0px 2px 2px rgba(50, 50, 50, 0.2)
            }

nav ul ul ul{
    position:absolute;
    left:100%;
    top:0;
}
nav ul ul ul a{
    transition: background-color 0.3s ease;
}





.trykketlink{
    color:#9b1c27;
}

.pil{
    background:url(media/Ikoner/arrow.png) right center no-repeat;
    /* https://upload.wikimedia.org/wikipedia/commons/4/41/MediaWiki_Vector_skin_right_arrow.png */
}


/*
|-------------------------------------------------------
| Andre klasser
|-------------------------------------------------------
*/

.productlist{
  display: block;
}
.productbox{
  width: 1000px;
  height: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: white;
}
.productbox p{
  margin: 10px;
  border-style: solid;
  border-width: 5px;

}
.clearboth{
    clear: both;
}
.container{
    border: black solid 1px;
    width: 35%;
	margin:5px;
    height: 200px;

	
}

.bildeContainer{
    border: black solid 1px;
    width: 25%;
	margin:5px;
    height: 200px;
}

.bildeContainer2{
    border: black solid 1px;
    width: 25%;
	margin:5px;
    height: 200px;
}


.item{
    border: lightgrey solid 1px;
    width:  60%;
    height: 100%;
}

.logo{ /* Logo på header */
    float: left;
    margin-right: -100%;
    margin-left: 18%;
    margin-top: -1%; /* Fikser y posisjon */
    clear:both;
}


.flytVenstre{
	float:left;
	
}
.flytHogre{
	float:right;
	
}


.fillHeight{
	min-height:100%;
	width:45%;
	margin-top:;
}

.fillWidth{
	min-width:55%;
	height:auto;
}
.Display{
	text-align:center;
}



/*Email form fancy shizzle */



.formContainer {
    margin-top: 30px;
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: whitesmoke;
    padding: 25px 15px 25px 10px;
    font-family: CodeBold;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;

}
formWrapper{
    width: 500px;
}

.formTittel {
    font-size: 25px;
	font-family: CodeBold;
    padding: 0px 0px 10px 0px;
    display: block;
    margin: -10px -15px 30px -10px;;
    color: #888;
}

.formInput {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-left: 70px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

.formTextarea{
	padding: 5px 3px 3px 5px;
	height:100px;
}

.formButton {
    background: #E27575;
    margin-left: 70px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: white;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}
.formButton:hover {
    background: #CF7A7A
}

.link-noStyle{
    color: black;
    text-decoration: none;
}




